extends Views/layouts/default.pug

//- Инициализация переменных для использования в макетах
block variables
  - const title = 'Проект SFERA — Job Lite'
  - const description = 'Описание страницы'

append script
  script(src=require('./main.js') defer)

append style
  link(href=require('./styles.scss') rel='stylesheet')

block content
  main.main(role="main")
    // Уберите section__wrapper если не нужен (он ограничивает ширину контейнера до 1440 пискселей)
    .main__container.section__wrapper
      // Верстаем здесь
      head
        h1 Крутой заголовок
        h2 Подзаголовок
      body
      .search
        form
          input(type='text' placeholder='Должность или профессия...')
          button(type='submit')
      .joblite_info
        .block1
          img(src=require('Images/joblite/icon_job.png'))
          h2 something
          p text
        .block2
          img(src=require('Images/joblite/icon_job.png'))
          h2 something
          p text
        .block3
          img(src=require('Images/joblite/icon_job.png'))
          h2 something
          p text
      .statistic
        .block1
          h2 something
          p text
        .block2
          h2 something
          p text
        .block3
          h2 something
          p text