extends Views/layouts/default.pug

//- Инициализация переменных для использования в макетах
block variables
  - const title = 'Проект SFERA — Job Lite'
  - const description = 'Описание страницы'

append script
  script(src=require('./main.js') defer)
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')

append style
  link(href=require('./styles.scss') rel='stylesheet')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  

block content
  main.main(role="main")
    // Уберите section__wrapper если не нужен (он ограничивает ширину контейнера до 1440 пискселей)
    .main__container.section__wrapper
      // Верстаем здесь
      head
        h1 Крутой заголовок
        h2 Подзаголовок
      body
      .search
        form
          input(type='text' placeholder='Должность или профессия...')
          button(type='submit')
      .joblite_info
        .block1
          img(src=require('Images/joblite/icon_job.png'))
          h2 something
          p text
        .block2
          img(src=require('Images/joblite/icon_job.png'))
          h2 something
          p text
        .block3
          img(src=require('Images/joblite/icon_job.png'))
          h2 something
          p text
      .statistic
        .block1
          h2 something
          p text
        .block2
          h2 something
          p text
        .block3
          h2 something
          p text
          //- Otziv
          .container
  .row
    .col-md-8.col-center.m-auto
      h2.testimonials-header Отзывы
      #myCarousel.carousel.slide(data-ride='carousel')
        // Carousel
        .carousel-inner
          .item.carousel-item.active
            .img-box
              img(src='https://i.ibb.co/d5DY64w/img1.jpg' alt='')
            p.testimonial
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.
            p.overview
              b Jennifer Smith
              | , Office Worker
          .item.carousel-item
            .img-box
              img(src='https://i.ibb.co/5FF1vqz/img2.jpg' alt='')
            p.testimonial
              | Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio.
            p.overview
              b Dauglas McNun
              | , Financial Advisor
          .item.carousel-item
            .img-box
              img(src='https://i.ibb.co/Trv7hDv/img3.jpg' alt='')
            p.testimonial
              | Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor eget rutrum.
            p.overview
              b Hellen Wright
              | , Athelete
        // Carousel Controls
        a.carousel-control.left.carousel-control-prev(href='#myCarousel' data-slide='prev')
          i.fa.fa-angle-left
        a.carousel-control.right.carousel-control-next(href='#myCarousel' data-slide='next')
          i.fa.fa-angle-right

      
      //- .container
      //-   .row
      //-     .col-md-8.col-center.m-auto
      //-       h2 Testimonials
      //-       #myCarousel.carousel.slide(data-ride='carousel')
      //-         .carousel-inner
      //-           .item.carousel-item.active
      //-             .img-box
      //-               img(src='https://i.ibb.co/d5DY64w/img1.jpg' alt='')
      //-             p.testimonial Lorem ipsum dolor sit amet, consectetur adipi
      //-             p.overview
      //-               b Jennifer Smith,office worker
                    
      //-           .item.carousel-item
      //-             .img-box
      //-               img(src='https://i.ibb.co/5FF1vqz/img2.jpg' alt='')
      //-             p.testimonial Lorem ipsum dolor sit amet, consectetur adipi
      //-             p.overview Dauglas Mxnun,Advisor
      //-         a.carousel-control.left.carousel-control-prev(href='#myCarousel' data-slide='prev')
      //-           i.fa.fa-angle-left
      //-         a.carousel-control.right.carousel-control-next(href='#myCarousel' data-slide='next')
      //-           i.fa.fa-angle-right
              
        


       