//- Локальные переменные
//- если понадобятся

//- Внешние переменные
block variables

doctype html
html(lang='ru' dir='ltr')
  head
    //- Meta
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(property='description' content= description)

    link(rel='icon' href=require('Images/favicons/favicon-16px.png') type='image/png' sizes='16x16')
    link(rel='icon' href=require('Images/favicons/favicon-32px.png') type='image/png' sizes='32x32')
    link(rel='icon' href=require('Images/favicons/favicon-64px.png') type='image/png' sizes='64x64')

    //- Стили страницы
  block style
    link(rel='stylesheet' href=require('Styles/main.scss'))

    //- Page title
    title= title

  body

    .page

      include ../includes/header.pug

      include ../includes/footer.pug

    //- Page scripts
    block script

